* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: rgb(43, 43, 43);
}

img {
  max-width: 100%;
  height: auto;
}

.large-hero {
  border-bottom: 10px solid rgb(0, 60, 128);
  position: relative;
}

.large-hero__image {
  display: block;
}

.large-hero__text-content {
  position: absolute;
  padding-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.large-hero__title {
  font-weight: 300;
  color: rgb(0, 60, 128);
  font-size: 2.4rem;
  margin: 0;
}

@media (min-width: 530px) {
  .large-hero__title {
    font-size: 4.8rem;
  }
}

.large-hero__subtitle {
  font-weight: 300;
  color: rgb(0, 60, 128);
  font-size: 1.5rem;
  margin: 0;
}

@media (min-width: 530px) {
  .large-hero__subtitle {
    font-size: 2.9rem;
  }
}

.large-hero__description {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.356);
  max-width: 30rem;
  margin: 30px auto;
}

@media (min-width: 530px) {
  .large-hero__description {
    font-size: 1.8rem;
  }
}

.btn {
  background-color: rgb(0, 60, 128);
  color: rgba(255, 255, 255, 0.918);
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.2rem;
}

.btn--orange {
  background-color: rgb(255, 163, 59);
}

.btn--large {
  padding: 0.75rem 1.6rem;
}

@media (min-width: 530px) {
  .btn--large {
    font-size: 1.6rem;
  }
}

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin: 0 auto;
}

.wrapper--medium {
  max-width: 976px;
}
.wrapper--narrow {
  max-width: 470px;
}
.wrapper--b-margin {
  margin-bottom: 1.2rem;
}
.wrapper-padding {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 800px) {
  .wrapper-padding {
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media (min-width: 530px) {
  .wrapper--b-margin {
    margin-bottom: 3.8rem;
  }
}

.headline {
  font-weight: 300;
  font-size: 1.7rem;
  color: rgb(0, 60, 128);
  margin-bottom: 2rem;
}

.headline--no-t-margin {
  margin-top: 0;
}

@media (min-width: 530px) {
  .headline {
    font-size: 2.875rem;
  }
}

.headline--center {
  text-align: center;
  margin: 2rem 0;
}

.headline--orange {
  color: rgb(255, 140, 9);
}

.headline--small {
  font-size: 1.27rem;
}

@media (min-width: 530px) {
  .headline--small {
    font-size: 1.87rem;
  }
}

.headline--narrow {
  max-width: 500px;
  margin: 0 auto;
}

.headline--light {
  font-weight: 250;
}

.headline-b-margin-small {
  margin-bottom: 0.5em;
}

.headline-b-margin-large {
  margin-bottom: 2.6em;
}

.page-section {
  padding: 1.2rem 0;
}

@media (min-width: 800px) {
  .page-section {
    padding: 4.5rem 0;
  }
}

.page-section--blue {
  background-color: rgb(0, 60, 128);
  color: white;
}

.row__gutters {
  margin-right: -65px;
}
.row--gutter-large {
  margin-right: -100px;
}
.row__gutters--small {
  margin-right: -45px;
}
.row--equal-a-height-medium {
  display: flex;
}
.row--equal-a-height-medium > div {
  float: none;
  display: flex;
}

.row__gutters > div {
  padding-right: 65px;
}
.row--gutter-large > div {
  padding-right: 100px;
}

.row__gutters--small > div {
  padding-right: 45px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row__4 {
  float: left;
  width: 33.33%;
}

.row__8 {
  float: left;
  width: 66.6%;
}

.row__medium-4-larger {
  width: 37%;
}

.row__medium-8-smaller {
  width: 63%;
}
.row__medium_6 {
  float: left;
  width: 50%;
}
.row--t-padding {
  padding-top: 80px;
}

.generic-content-container p {
  line-height: 1.65;
  margin: 0 0 1.8rem 0;
  font-weight: 300;
}

@media (min-width: 530px) {
  .generic-content-container p {
    font-size: 1.125rem;
  }
}

.generic-content-container p a {
  font-weight: 700;
  color: rgb(255, 163, 59);
}
.section-title {
  font-size: 2.23rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 530px) {
  .section-title {
    font-size: 3.7rem;
  }
}
.section-title strong {
  font-weight: 500;
}
.section-title__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
}
section-title--blue {
  color: rgb(0, 60, 128);
}
.section-title--less-margin {
  margin-bottom: 1.3rem;
  margin-top: 0;
}
@media (min-width: 530px) {
  .section-title__icon {
    position: relative;
    top: 8px;
    margin-right: 0.5rem;
    margin-left: 0;
    display: inline-block;
    margin-bottom: 0;
  }
}
.feature-item {
  position: relative;
  padding-bottom: 2.5rem;
}
@media (min-width: 530px) {
  .feature-item {
    padding-left: 94px;
  }
}
.feature-item__item {
  display: block;
  margin: 0 auto;
}
@media (min-width: 530px) {
  .featue-item__icon {
    position: absolute;
    left: 0;
  }
}

.feature-item__title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.7em;
  margin-bottom: 0.8rem;
  text-align: center;
}
@media (min-width: 530px) {
  .feature-item__title {
    margin-top: 1em;
    text-align: left;
    font-size: 1.87rem;
  }
}
/* Testimoneil */
.page-section__testimonial {
  background-color: rgba(149, 176, 255, 0.281);
}
@media (min-width: 800px) {
  .page-section__testimonial {
    background-image: url("/app/assets/images/testimonials-bg.jpg");
    background-size: cover;
  }
}
.testimonial {
  background-color: rgba(255, 255, 255, 0.829);
  padding: 0 1.87rem 1px 1.87rem;
  margin-bottom: 98px;
}
.testimonial__photo {
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 0 auto -80 auto;
  position: relative;
  top: -80px;
  border: 6px solid rgba(255, 255, 255, 0.918);
}
.testimonial__title {
  color: rgb(0, 60, 128);
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
.testimonial__subtitle {
  color: rgb(255, 140, 9);
  text-align: center;
  font-size: 0.9rem;
  margin: 0.25rem 0 1rem 0;
}
/* Footer*/
.site-footer {
  background-color: rgb(0, 60, 128);
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
.site-footer__text {
  display: block;
  margin-bottom: 1rem;
  font-weight: 200;
}
@media (min-width: 800px) {
  .site-footer__text {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1.4rem;
  }
}
/* Header*/
.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
}
.site-header--expand {
  background-color: rgba(0, 60, 128, 0.493);
}
@media (min-width: 800px) {
  .site-header {
    background-color: rgba(0, 60, 128, 0.527);
    position: fixed;
  }
  .site-header--dark {
    background-color: rgba(0, 64, 138, 0.925);
  }
}
@media (min-width: 800px) {
  .site-header__btn-container {
    float: right;
  }
}
/* Navigation*/
.primary-nav--right {
  margin-top: 10px;
}
@media (min-width: 800px) {
  .primary-nav--right {
    float: right;
  }
}
.primary-nav--right ul {
  margin: 0;
  padding: 0;
}
.primary-nav--right ul li {
  list-style: none;
  display: inline-block;
  padding-right: 25px;
}
.primary-nav--right ul li:last-child {
  padding-right: 0;
}
@media (min-width: 800px) {
  .primary-nav--right ul li {
    display: block;
    float: left;
  }
  .primary-nav--right ul li:last-child {
    padding-right: 25px;
  }
}
.primary-nav--right li a {
  color: white;
  padding: 20px 0;
  text-decoration: none;
  font-weight: 300;
}

.primary-nav--right ul li a .is-current-link {
  color: rgb(255, 163, 59);
}

.site-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transform-origin: 50% 0;
  background-color: rgb(0, 60, 128);
  padding: 25px 36px;
  -webkit-transform: translateX(-50%) scale(0.8);
  -moz-transform: translateX(-50%) scale(0.8);
  -ms-transform: translateX(-50%) scale(0.8);
  -o-transform: translateX(-50%) scale(0.8);
}
@media (min-width: 800px) {
  .site-header__logo {
    left: auto;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  .site-header--dark .site-header__logo {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}
.site-header__menu-content {
  display: block;
  padding-top: 100px;
  text-align: center;
}
.site-header__menu-content--is-visible {
  display: block;
}

.site-header__menu-icon {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  display: none;
  background-color: white;
  position: absolute;
  top: 10%;
  right: 10%;
}
@media (min-width: 800px) {
  .site-header__menu-content {
    display: block;
    padding-top: 0;
  }
  .site-header__menu-icon {
    display: none;
  }
}
.reveal-item {
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.reveal-item--is-visible {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* modal*/
.modal {
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.979);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.35);
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  -o-transform: scale(1.35);
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.modal__description {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2;
}
.modal__inner {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  cursor: pointer;
  transform: scaleX(1.5);
  -webkit-transform: scaleX(1.5);
  -moz-transform: scaleX(1.5);
  -ms-transform: scaleX(1.5);
  -o-transform: scaleX(1.5);
  transform-origin: 100% 0;
  color: rgba(0, 64, 138, 0.925);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.modal__close:hover {
  color: rgb(255, 163, 59);
}
.modal--is-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.social-icons {
  text-align: center;
}
.social-icons__icon {
  background-color: rgb(255, 163, 59);
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 72px;
  position: relative;
}
@media (min-width: 550px) {
  .social-icons__icon {
    width: 72px;
    margin: 0 5px;
  }
}
.social-icons__icon-icon-again {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
